In [3]:
import requests
import pandas as pd

In [24]:
page=requests.get('https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population')

In [26]:
# page.content

In [34]:
page.status_code

200

In [33]:
page.encoding

'UTF-8'

In [27]:
# page.headers

In [32]:
page.headers['Server']

'mw2386.codfw.wmnet'

In [35]:
from bs4 import BeautifulSoup

In [36]:
soup=BeautifulSoup(page.content,'html.parser')

In [51]:
table = soup.find('table')

In [40]:
data=[]
for row in table.find_all('tr'):
    cols=row.find_all('td')
    cols=[col.text for col in cols]
    data.append(cols)

In [55]:
df = pd.DataFrame(data)
df[3:]

,0,1,2,3,4,5,6
3,China,"1,411,750,000",17.6%\n,31 Dec 2022,Official estimate[4],The population figure refers to mainland China...,None
4,India,"1,375,586,000",17.2%\n,1 Mar 2022\n,Official projection[5],The figure includes the population of the Indi...,None
5,United States,"334,233,854",4.17%\n,1 Jan 2023\n,Official estimate[6],The figure includes the 50 states and the Dist...,None
6,Indonesia,"275,773,800",3.44%\n,1 Jul 2022,Official estimate[7],\n,None
7,Pakistan,"235,825,000",2.95%\n,1 Jul 2022,UN projection[3],The figure includes the population of Pakistan...,None
...,...,...,...,...,...,...,...
239,Tokelau (New Zealand),"1,647",0%\n,1 Jan 2019,2019 Census [206],\n,None
240,Niue (New Zealand),"1,549",0%\n,1 Jul 2021,National annual projection[95],\n,None
241,Vatican City,825,0%\n,1 Feb 2019,Monthly national estimate[207],The total population of 825 consisted of 453 r...,None
242,Cocos (Keeling) Islands (Australia),593,0%\n,30 Jun 2020,2021 Census[208],\n,None
243,Pitcairn Islands (United Kingdom),47,0%\n,1 Jul 2021,Official estimate[209],\n,None

In [56]:
df.tail(5)

,0,1,2,3,4,5,6
239,Tokelau (New Zealand),"1,647",0%\n,1 Jan 2019,2019 Census [206],\n,None
240,Niue (New Zealand),"1,549",0%\n,1 Jul 2021,National annual projection[95],\n,None
241,Vatican City,825,0%\n,1 Feb 2019,Monthly national estimate[207],The total population of 825 consisted of 453 r...,None
242,Cocos (Keeling) Islands (Australia),593,0%\n,30 Jun 2020,2021 Census[208],\n,None
243,Pitcairn Islands (United Kingdom),47,0%\n,1 Jul 2021,Official estimate[209],\n,None

In [57]:
df.to_csv('web_scraped_data.csv')